<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gestion humana, HTML, html5, software, css, js, proyecto, empresa">
    <meta name="description" content="Optimice la gestión del talento humano y impulse el éxito de su organización con nuestro innovador proyecto de gestión humana.">
    <title>Human Intelligence Resources - Capacitación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logoFavicon.ico') }}" type="logoFavicon.ico">
    <script src="{{ url_for('static', filename='js/menu_lateral.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beneficios.js') }}"></script>
</head>
<body>
     <!-- BOTONES PARTE SUPERIOR DEL HOME -->
     <header id="areaDconfiguracion">
        <h2>{{ nom_completo }}</h2>


        <div id="usuarioP">
            <a href="{{ url_for('configuracion_Perfil_Usuario') }}">

                <img src="{{ url_for('static', filename='imagenes/perfil.PNG') }}" alt="Logo">
            </a>
        </div>
    </header>
    <br>

    <!-- MENU LATERAL -->
    <nav class="menuLateral">
        <div class="logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='imagenes/logo.PNG') }}" alt="Logo" width="150" height="150"></a>
        </div>
        <ul>
            <li><a href="{{ url_for('home') }}" id="home"><img src="{{ url_for('static', filename='assets/home.svg') }}">Inicio</a></li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/empleado.svg') }}">Empleados</a>
                <ul class="submenu empleados">
                    <li><a href="{{ url_for('empleados') }}">Empleados</a></li>
                    <li><a href="{{ url_for('nomina') }}">Nómina</a></li>
                    <li><a href="{{ url_for('beneficios') }}">Beneficios</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/talento.svg') }}">Gestión de Talento</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('gestiondetalentos') }}">Area Principal</a></li>
                    <li><a href="{{ url_for('reclutamiento') }}">Reclutamiento</a></li>
                    <li><a href="{{ url_for('seleccion_de_personal') }}">Selección del Personal</a></li>
                    <li><a href="{{ url_for('capacitacion') }}">Capacitación</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/horarios.svg') }}">Horario</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('horarios') }}">Asistencia</a></li>
                    <li><a href="{{ url_for('horario_empleado') }}">Horarios de Empleados</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/politicas.svg') }}">Política</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('politica') }}">Riesgos Laborales</a></li>
                    <li><a href="{{ url_for('rendimiento') }}">Metas</a></li>
                    <li><a href="{{ url_for('seguridad') }}">Seguridad</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <main id="cajaPreclutamiento">
        <h2>Capacitación</h2>
        <div class="AccesoRapidoReclutamiento">

            <div class="AccesoRapidoReclutamiento_Reclutamiento">
                <a href="{{ url_for('reclutamiento') }}">Reclutamiento <img src="/assets/AccesoRapidoReclutamiento.svg" alt=""></a>
            </div>

            <div class="AccesoRapidoReclutamiento_SDP">
                <a href="{{ url_for('seleccion_de_personal') }}">Seleccion de personal<img src="/assets/AcessoRapidoSelecciondepersonal.svg" alt=""></a>
            </div>

            <div class="AccesoRapidoReclutamiento_capa">
                <a href="{{ url_for('capacitacion') }}">Capacitación<img src="/assets/AcessoRapidoCapacitacion.svg" alt=""></a>
            </div>

        </div>
        <!--AREA DE TRABAJO, CONFIRMACION DE ENTREVISTAS Y ASISTENCIA OJO (P) (BUTTON) SON REPRESENTACIONES SOBRE LOS CONTENEDORES DE CADA COSA. MAS ADELANTE SE CAMBIARA Y SE PONDRA COMO SE DEBE-->
        <div id="CajaSReclutamiento">

            <div id="AreadeAspirantes_capacitacion">

            <div id="AreadeCurriculumCapacitacion">
                <div id="id:correoReclutamiento">Nombre: Pepe Quintana</div>
                <div id="id:AreaReclutamiento">Area: Almacen</div>
                <div id="id:CargoReclutamiento">Cargo: Director</div>
                <div class="curriculum_button">
                    <div id="CurriculumCapacitacion">
                    <form action="AreaDCapacitacion">
                        <label for="bienvenida">Bienvenida y presentación</label>
                        <input type="radio" name="bienvenida" id="">

                        <label for="Introducción">Introducción a las políticas y procedimientos</label>
                        <input type="radio" name="Introducción" id="">

                        <label for="formacion">Formación en el puesto de trabajo</label>
                        <input type="radio" name="formacion" id="">

                        <label for="formacionProductos">Formación en productos o servicios</label>
                        <input type="radio" name="formacionProductos" id="">

                        <label for="Evaluación">Evaluación y retroalimentación</label>
                        <input type="radio" name="Evaluación" id="">
                    </form>
                </div>
            </div>
            
            
            </div>
        
    </main>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>
</html>

