<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ url_for('static', filename='imagenes/logoFavicon.ico') }}" type="logoFavicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}" />
  <title>Detalle del Empleado</title>
</head>

<body>
  <div id="detalleEmpleado">
    <h1>Detalles del empleado</h1>
    <p><strong>Nombre:</strong> {{ empleado['Nombre'] }}</p>
    <p><strong>Género:</strong> {{ empleado['Genero'] }}</p>
    <p><strong>Teléfono:</strong> {{ empleado['Telefono'] }}</p>
    <p><strong>Estado Civil:</strong> {{ empleado['EstadoCivil'] }}</p>
    <p>
      <strong>Fecha de Nacimiento:</strong> {{ empleado['FechaNacimiento'] }}
    </p>
    <p><strong>Dirección:</strong> {{ empleado['Direccion'] }}</p>
    <p><strong>Cargo:</strong> {{ empleado['Cargo'] }}</p>
    <p><strong>Área:</strong> {{ empleado['Area'] }}</p>
    <p><strong>Fecha de Inicio:</strong> {{ empleado['FechaInicio'] }}</p>
    <p>
      <strong>Nivel de Experiencia:</strong> {{ empleado['NivelExperiencia']
      }}
    </p>
    <p><strong>Educación:</strong> {{ empleado['Educacion'] }}</p>
    <p><strong>Habilidades:</strong> {{ empleado['Habilidades'] }}</p>
  </div>

    <h2>Documentos:</h2>
    <div id="guardar_empleado">
    <ul>
      <li>
        <a href="{{ empleado['curriculum'] }}" download>Descargar Currículum</a>
      </li>
      <li>
        <a href="{{ empleado['titulos_academicos'] }}" download>Descargar Títulos Académicos</a>
      </li>
      <li>
        <a href="{{ empleado['referencias_laborales'] }}" download>Descargar Referencias Laborales</a>
      </li>
      <li>
        <a href="{{ empleado['carta_presentacion'] }}" download>Descargar Carta de Presentación</a>
      </li>
      <li>
        <a href="{{ empleado['documento_identidad'] }}" download>Descargar Documento de Identidad</a>
      </li>
    </ul>

    <img src="{{ empleado['foto_perfil'] }}" alt="Foto de perfil" width="200px" />
  </div>
</body>

</html>