<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gestion humana, HTML, html5, software, css, js, proyecto, empresa">
    <meta name="description"
        content="Optimice la gestión del talento humano y impulse el éxito de su organización con nuestro innovador proyecto de gestión humana.">
    <title>Human Intelligence Resources - Empleados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logoFavicon.ico') }}" type="logoFavicon.ico">
    <script src="{{ url_for('static', filename='js/menu_lateral.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beneficios.js') }}"></script>
</head>

<body>
    <header id="areaDconfiguracion">
        <h2>{{ nom_completo }}</h2>


        <div id="usuarioP">
            <a href="{{ url_for('configuracion_Perfil_Usuario') }}">

                <img src="{{ url_for('static', filename='imagenes/perfil.PNG') }}" alt="Logo">
            </a>
        </div>
    </header>

    <!-- MENU LATERAL -->
    <nav class="menuLateral">
        <div class="logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='imagenes/logo.PNG') }}" alt="Logo"
                    width="150" height="150"></a>
        </div>
        <ul>
            <li><a href="{{ url_for('home') }}" id="home"><img
                        src="{{ url_for('static', filename='assets/home.svg') }}">Inicio</a></li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/empleado.svg') }}">Empleados</a>
                <ul class="submenu empleados">
                    <li><a href="{{ url_for('empleados') }}">Empleados</a></li>
                    <li><a href="{{ url_for('nomina') }}">Nómina</a></li>
                    <li><a href="{{ url_for('beneficios') }}">Beneficios</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/talento.svg') }}">Gestión de Talento</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('gestiondetalentos') }}">Area Principal</a></li>
                    <li><a href="{{ url_for('reclutamiento') }}">Reclutamiento</a></li>
                    <li><a href="{{ url_for('seleccion_de_personal') }}">Selección del Personal</a></li>
                    <li><a href="{{ url_for('capacitacion') }}">Capacitación</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/horarios.svg') }}">Horario</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('horarios') }}">Asistencia</a></li>
                    <li><a href="{{ url_for('horario_empleado') }}">Horarios de Empleados</a></li>
                </ul>
            </li>
            <li class="main-area">
                <a href="#"><img src="{{ url_for('static', filename='assets/politicas.svg') }}">Política</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('politica') }}">Riesgos Laborales</a></li>
                    <li><a href="{{ url_for('rendimiento') }}">Metas</a></li>
                    <li><a href="{{ url_for('seguridad') }}">Seguridad</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main id="contenedorP_empleados">

        <div class="areaDayuda">
            <select name="" id="" class="">
                <option value="">Filtros</option>
                <option value="">------------------------------</option>
                <option value="">Cargos</option>
                <option value="">Area</option>
            </select>
        </div>

        <div class="registros">
            <a href="{{ url_for('creacionEmpleados') }}">
                <img src="{{ url_for('static', filename='icons/solar_add-circle-outline.svg') }}" alt=""
                    class="icon-nuevoregistro">
                <span>Nuevo Registro</span>
            </a>
            <a href="{{ url_for('descargar_empleados') }}">
                <img src="{{ url_for('static', filename='icons/vscode-icons_file-type-excel.svg') }}" alt=""
                    class="icon-empleadosexcel">
                <span>Empleados Por Excel</span>
            </a>
        </div>

        <div class="buscador_empleados">
            
                <form action="">
                    <img src="{{ url_for('static', filename='icons/Component 12.svg') }}" alt="search" class="icon-buscador">
                    <input type="search" name="buscador" id="buscador" placeholder="Buscador" class="search-input">
                </form>
            
        </div>

        

        <div class="titulo_empleados">
            <h1><img src="{{ url_for('static', filename='icons/Vector (1).svg') }}" alt="">Listado de empleados</h1>
        </div>


        <div id="listaDempleados">
            {% for empleado in empleados %}
            <div class="empleados_P" name="empleados_">
                <p class="nombre_empleado"> {{ empleado['nombre'] }}</p>
                <hr>
                <p class="EmpleadoID">ID: {{ empleado['EmpleadoID'] }}</p>
                <p class="correo_empleado">Correo: {{ empleado['correo'] }}</p>
                <p class="cargo_empleado">Cargo: {{ empleado['cargo'] }}</p>
                <p class="area_empleado">Área: {{ empleado['area'] }}</p>
                <p class="direccion_empleado">Dirección: {{ empleado['direccion'] }}</p>
                <p class="foto_perfil">{{ empleado['foto_perfil'] }}</p>
        
                <form action="{{ url_for('detalle_empleado', empleado_id=empleado['EmpleadoID']) }}" method="GET">
                    <button class="detalleEmpleado" type="submit">Ver detalles</button>
                </form>
        
                <form action="{{ url_for('eliminar_empleado', empleado_id=empleado['EmpleadoID']) }}" method="POST">
                    <button class="BorrarEmpleado" type="submit"></button>
                </form>
            </div>
            {% endfor %}
        </div>

    </main>

    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/empleadoB.js') }}"></script>
    
</body>

</html>